<?xml version="1.0"?>
<!-- 
/** Setubridge Technolabs
* http://www.setubridge.com/
* @author SetuBridge
* @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
**/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="product_object_save" instance="SetuBridge\PersonalizationTemplate\Observer\Productsavedata" />
    </event>
    
    <event name="catalog_product_save_before">
        <observer name="product_object_save" instance="SetuBridge\PersonalizationTemplate\Observer\Productunsetdata" />
    </event>
</config>