<?xml version="1.0"?>
<!-- 
/** Setubridge Technolabs
* http://www.setubridge.com/
* @author SetuBridge
* @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
**/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\Quote\Item">
        <plugin name="personalization-quote-item" type="SetuBridge\Personalization\Plugin\Quote\Item" />
    </type>

    <type name="Magento\Quote\Model\Quote\Item\Compare">
        <plugin name="personalization-quote-item-merge-compare" type="SetuBridge\Personalization\Plugin\Quote\Item\Compare" />
    </type>

    <type name="Magento\Checkout\Model\Cart">
        <plugin name="personalization-reorder" type="SetuBridge\Personalization\Plugin\Cart" />
    </type>
    
    <preference for="Magento\Checkout\Block\Cart\Item\Renderer\Actions\Edit" type="SetuBridge\Personalization\Block\Cart\Item\Renderer\Actions\Edit" />

    <preference for="Magento\Checkout\CustomerData\DefaultItem" type="SetuBridge\Personalization\Model\CustomerData\DefaultItem"/>
    
    <preference for="Magento\Checkout\Model\Cart" type="SetuBridge\Personalization\Model\Checkout\ReorderCart"/>
    
</config>