<?xml version="1.0"?>
<!--
/**
 * Webkul Software
 *
 * @category  Webkul
 * @package   Webkul_OrderHistoryCommunication
 * @author    Webkul
 * @copyright Copyright (c)  Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <orderhistorycommunication>
            <general_options>
                <enable>0</enable>
                <allowedextensions>jpeg,png,gif,pdf</allowedextensions>
            </general_options>
            <email>
                <communicationmail>send_communication_mail</communicationmail>
                <communicationmail>send_admincommunication_mail</communicationmail>
            </email>
        </orderhistorycommunication>
    </default>
</config>
