<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>

        <section id="pagespeed" translate="label" type="text" sortOrder="1606" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Pagespeed</label>
            <tab>swissup</tab>
            <resource>Swissup_Pagespeed::config</resource>
            <group id="diagnost" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <!-- <field id="button" translate="label" type="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1"> -->
                    <label>ANALYZE</label>
                    <frontend_model>Swissup\Pagespeed\Block\Adminhtml\System\Config\Form\Field\Analyze</frontend_model>
                <!-- </field> -->
            </group>
            <group id="main" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Main</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="devmode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable in developer mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="gzip" translate="label" type="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test GZIP compression</label>
                    <frontend_model>Swissup\Pagespeed\Block\Adminhtml\System\Config\Form\Field\Gzip</frontend_model>
                    <comment><![CDATA[<a href="https://www.giftofspeed.com/gzip-test/" target="_blank">Check GZIP compression manually</a>.]]></comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="server_push" translate="label" type="select" sortOrder="40" showInDefault="1">
                    <label>Server HTTP/2 push enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <!-- <config_path>dev/debug/server_push</config_path> -->
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="link_preload" translate="label" type="select" sortOrder="45" showInDefault="1">
                    <label>Link rel="preload" enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="server_push">0</field>
                    </depends>
                </field>
                <field id="custom_preload_link" translate="label" type="textarea" sortOrder="47" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Additional resource links for preloading</label>
                    <comment><![CDATA[<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Preloading_content" target="_blank">Verify HTTP/2 support manually</a>.]]></comment>
                    <depends>
                        <field id="link_preload">1</field>
                    </depends>
                </field>
                <field id="http2_test" translate="label" type="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Verify HTTP/2.0 Support</label>
                    <frontend_model>Swissup\Pagespeed\Block\Adminhtml\System\Config\Form\Field\HTTP2</frontend_model>
                    <comment><![CDATA[<a href="https://tools.keycdn.com/http2-test" target="_blank">Verify HTTP/2 support manually</a>.]]></comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>

            <group id="content" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Minify HTML Content</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[<p class="message note"><span>Warning! Please notice that HTML minification of content could cause some increase in CPU and memory resource usage and slightly affect your store response rate on slow servers. We recommend using this option together with Full Page Cache enabled.</span></p>]]></comment>
                </field>
                <!-- <field id="type" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Compressing Type</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field> -->
                <field id="js" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Js Content Minification Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="css" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>CSS Content Minification Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="template" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Minify Templates</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Minification is not applied in developer mode.</comment>
                    <config_path>dev/template/minify_html</config_path>
                </field>
            </group>
            <group id="js" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>JavaScript Settings</label>
                <field id="enable_js_bundling" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable JavaScript Bundling</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>dev/js/enable_js_bundling</config_path>
                    <comment><![CDATA[<p class="message note"><span>Warning! Please notice that the option can slow down rendering at slow connections, large connection thresholds, limited networks. We recommend using 'Advanced JavaScript Bundling'.]]></comment>
                </field>
                <field id="enable_advanced_js_bundling" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Advanced JavaScript Bundling (RequireJs)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>pagespeed/js/enable_advanced_js_bundling</config_path>
                    <include path="Swissup_Pagespeed::system/bundling_comment.xml" />
                    <depends>
                        <field id="enable_js_bundling">0</field>
                    </depends>
                </field>
                <field id="rjs_build_config" translate="label" type="textarea" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>RequireJS Bundle Generator Build Config</label>
                    <frontend_model>Swissup\Codemirror\Block\Adminhtml\System\Config\Form\Field\Json</frontend_model>
                    <config_path>pagespeed/js/rjs_build_config</config_path>
                    <backend_model>Swissup\Pagespeed\Model\Config\Backend\File\Rjs</backend_model>
                    <comment><![CDATA[<a href="https://github.com/magento/m2-devtools#setup" target="_blank">Setup M2 Chrome DevTools</a><br/><a href="https://github.com/magento/m2-devtools/blob/master/docs/panels/RequireJS.md#bundle-generator" target="_blank">RequireJS bundle config generating</a>.
                    ]]></comment>
                    <depends>
                        <field id="enable_js_bundling">0</field>
                        <field id="enable_advanced_js_bundling">1</field>
                    </depends>
                </field>
                <field id="minify_files" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minify JavaScript Files</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Minification is not applied in developer mode.</comment>
                    <config_path>dev/js/minify_files</config_path>
                </field>

                <field id="merge_files" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merge JavaScript Files</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>dev/js/merge_files</config_path>
                </field>

                <field id="move_inline_to_bottom" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Move JS code to the bottom of the page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>dev/js/move_inline_to_bottom</config_path>
                </field>

                <group id="defer" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Deferred javascripts</label>
                    <comment>Eliminate render-blocking JavaScript in the above-the-fold content.
                        The loading and execution of scripts that are not necessary for the initial page render may be deferred until after the initial render or other critical parts of the page have finished loading. Doing so can help reduce resource contention and improve performance.</comment>

                    <field id="enable" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>pagespeed/js/defer_enable</config_path>
                    </field>

                    <field id="unpack" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Add Unpack</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>pagespeed/js/defer_unpack</config_path>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>

                    <field id="ignore" translate="label" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Ignore</label>
                        <config_path>pagespeed/js/defer_ignore</config_path>
                        <comment>Signatures</comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>

                </group>
            </group>
            <group id="css" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>CSS Settings</label>

                <field id="merge_css_files" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merge CSS Files</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>dev/css/merge_css_files</config_path>
                </field>

                <field id="minify_files" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minify CSS Files</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Minification is not applied in developer mode.</comment>
                    <config_path>dev/css/minify_files</config_path>
                </field>

                <group id="critical" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Critical CSS (Prioritize Visible Content)</label>
                    <comment><![CDATA[You should minify the critical CSS, then inline it on your page (wrapped in style tags). It should be placed in the header, replacing the full CSS link(s).]]></comment>

                    <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>pagespeed/css/critical_enable</config_path>
                        <include path="Swissup_Pagespeed::system/critical_comment.xml" />
                    </field>

                    <field id="default" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Default Critical CSS</label>
                        <frontend_model>Swissup\Pagespeed\Block\Adminhtml\System\Config\Form\Field\Critical</frontend_model>
                        <backend_model>Swissup\Pagespeed\Model\Config\Backend\File\LargeText</backend_model>
                        <config_path>pagespeed/css/critical_default</config_path>
                        <comment><![CDATA[<a href="http://pagespeed.swissuplabs.com/" target="_blank" rel="noopener">Critical css generator</a>.
                        <br />
                        <a href="https://www.sitelocity.com/critical-path-css-generator" target="_blank" rel="noopener">Alternative critical css generator</a>]]></comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>

                    <field id="use_css_critical_path" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Use built-in critical CSS feature</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>dev/css/use_css_critical_path</config_path>
                        <comment>
                            <![CDATA[<strong style="color:red">Warning!</strong> Be sure that you have critical.css file for your theme. Other CSS files will be loaded asynchronously. ]]>
                        </comment>
                    </field>

                    <field id="layout" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Merge custom critical css files from your theme</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>pagespeed/css/critical_layout</config_path>
                        <comment>
                            <![CDATA[<strong style="color:red">Warning!</strong>Use only your theme support them. Typical file location - [theme vendor dir]/css/critical/cms_index_index-1column.css. If the option causes some problems on your site, just turn it off ]]>
                        </comment>
                        <depends>
                            <field id="use_css_critical_path">1</field>
                        </depends>
                    </field>
                </group>
            </group>
            <group id="image" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Image Processing Settings</label>
                <field id="default_adapter" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Image Adapter</label>
                    <source_model>Magento\Config\Model\Config\Source\Image\Adapter</source_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Image\Adapter</backend_model>
                    <comment>When the adapter was changed, please flush Catalog Images Cache.</comment>
                    <config_path>dev/image/default_adapter</config_path>
                </field>

                <group id="optimize" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Optimize Catalog images</label>
                    <comment><![CDATA[
                    Usage:
                    <code>php bin/magento catalog:images:resize</code>
                    ]]></comment>

                    <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>pagespeed/image/optimize_enable</config_path>
                    </field>

                    <field id="provider" translate="label comment" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Image Optimizers Provider</label>
                        <source_model>Swissup\Pagespeed\Model\Config\Source\Image\Optimize\Provider</source_model>
                        <config_path>pagespeed/image/provider</config_path>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>

                    <field id="provider_local" translate="label" type="label" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Local Binaries</label>
                        <frontend_model>Swissup\Pagespeed\Block\Adminhtml\System\Config\Form\Field\CheckLocalImageOptimizers</frontend_model>
                        <comment><![CDATA[Before images can be optimized, you will need to install the optimizers as described in <a href="https://github.com/spatie/image-optimizer#optimization-tools">article</a><br/>
                    <code>
                        <pre>
                        sudo apt install jpegoptim
                        sudo apt install optipng
                        sudo apt install pngquant
                        sudo npm install -g svgo
                        sudo apt install gifsicle
                        sudo apt-get install webp
                        </pre>
                    </code>
                    ]]></comment>
                        <depends>
                            <field id="enable">1</field>
                            <field id="provider">0</field>
                        </depends>
                    </field>

                    <field id="apiUrl" translate="label comment" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>API Url</label>
                        <config_path>pagespeed/image/provider_apiurl</config_path>
                        <depends>
                            <field id="enable">1</field>
                            <field id="provider">1</field>
                        </depends>
                    </field>

                    <field id="apiKey" translate="label comment" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>API Key</label>
                        <config_path>pagespeed/image/provider_apikey</config_path>
                        <depends>
                            <field id="enable">1</field>
                            <field id="provider">1</field>
                        </depends>
                    </field>

                    <field id="webp_enable" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable WebP Support</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>pagespeed/image/optimize_webp_enable</config_path>
                        <comment><![CDATA[<a href="https://developers.google.com/speed/webp/">A new image format for the Web</a></br>
                        Enable only after run
                        <code>
                            <pre>
                            sudo apt-get install webp
                            bin/magento catalog:images:resize
                            </pre>
                        </code>]]></comment>
                    </field>

                    <field id="webp_picture_add" translate="label comment" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Add picture tag</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>pagespeed/image/optimize_webp_picture_add</config_path>
                        <comment><![CDATA[<a href="https://www.w3schools.com/tags/tag_picture.asp">HTML picture Tag</a><br/>
                        When Webp support enabled
                        ]]></comment>
                        <depends>
                            <field id="webp_enable">1</field>
                        </depends>
                    </field>

                    <field id="responsive" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Responsive Support</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>pagespeed/image/responsive</config_path>
                        <comment><![CDATA[<a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images">Responsive images</a></br>
                        Work only after run
                        <code>
                            <pre>
                            bin/magento swissup:pagespeed:images:resize
                            </pre>
                        </code>]]></comment>
                    </field>

                    <field id="default_responsive_sizes" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Default Responsive Images Sizes</label>
                        <config_path>pagespeed/image/default_responsive_sizes</config_path>
                        <depends>
                            <field id="responsive">1</field>
                        </depends>
                    </field>

                    <field id="cron_enable" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Cron Enable</label>
                        <comment>Don't use this option if your server has not enough processor resources</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>pagespeed/image/optimize_cron_enable</config_path>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>

                    <field id="cron_limit" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Cron Limit</label>
                        <comment>Limit images per one cron task. (Default: 100)</comment>
                        <config_path>pagespeed/image/optimize_cron_limit</config_path>
                        <depends>
                            <field id="cron_enable">1</field>
                        </depends>
                    </field>

                    <field id="optimize_timeout" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Optimizer Timeout</label>
                        <comment>Set the amount of seconds each separate optimizer may use. (Default: 10)</comment>
                        <config_path>pagespeed/image/optimize_timeout</config_path>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>

                    <field id="optimize_logging"  translate="label comment" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Logging Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>pagespeed/image/optimize_logging</config_path>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>

                <group id="lazyload" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Lazy loader for images</label>
                    <comment><![CDATA[Lazy loading images means loading images on websites asynchronously — that is, after the above-the-fold content is fully loaded, or even conditionally, only when they appear in the browser's viewport. This means that if users don't scroll all the way down, images placed at the bottom of the page won't even be loaded]]></comment>
                    <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>pagespeed/image/lazyload_enable</config_path>
                    </field>

                    <field id="ignore" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Ignore</label>
                        <config_path>pagespeed/image/lazyload_ignore</config_path>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>

                    <field id="offset" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Offset</label>
                        <config_path>pagespeed/image/lazyload_offset</config_path>
                        <comment><![CDATA[Extension skip first n+1 images]]></comment>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                    <field id="mobile_offset" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Offset for mobile devices</label>
                        <config_path>pagespeed/image/lazyload_mobile_offset</config_path>
                        <depends>
                            <field id="enable">1</field>
                        </depends>
                    </field>
                </group>
                <field id="dimension" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto Specify image dimensions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <!-- <config_path>pagespeed/image/lazyload_enable</config_path> -->
                    <comment><![CDATA[<p class="message note"><span>Warning! Please notice that the option could cause CPU and memory resources used to increase and slightly affect your store response rate on slow servers. We recommend using this option only with Full Page Cache enabled.</span></p>Specifying a width and height for all images allows for faster rendering by eliminating the need for unnecessary reflows and repaints.]]></comment>
                </field>
            </group>
            <group id="expire" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Expire Header</label>
                <field id="enable" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add Expire Header Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ttl" type="text" translate="label comment" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>TTL for public content</label>
                    <comment>Public content cache lifetime in seconds. If field is empty default value 31536000 will be saved (+1 year). </comment>
                    <backend_model>Magento\PageCache\Model\System\Config\Backend\Ttl</backend_model>
                    <!-- <config_path>system/full_page_cache/ttl</config_path> -->
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>

            <group id="dnsprefetch" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Dns-prefetch and Preconnect</label>
                <comment><![CDATA[The <a href="https://www.w3.org/TR/resource-hints/#dns-prefetch">dns-prefetch</a> link relation type is used to indicate an origin that will be used to fetch required resources, and that the user agent SHOULD resolve as early as possible.
                        ]]></comment>
                <field id="enable" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dns-prefetch Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="preconnect" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Preconnect Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>pagespeed/preconnect/enable</config_path>
                </field>
            </group>
        </section>
    </system>

</config>
