<?xml version="1.0"?>
<!-- 
/** Setubridge Technolabs
* http://www.setubridge.com/
* @author SetuBridge
* @license http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
**/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="quoteOptToSalesItem" type="SetuBridge\Personalization\Plugin\QuoteItemToOrderItemPlugin" />
    </type>
    <type name="Magento\Sales\Block\Order\Item\Renderer\DefaultRenderer">
        <plugin name="addPersonalizationPreviewImage" type="SetuBridge\Personalization\Plugin\DefaultRenderer" />
    </type> 
    <type name="Magento\Sales\Block\Order\Email\Items\Order\DefaultOrder">
        <plugin name="addPersonalizationPreviewImage" type="SetuBridge\Personalization\Plugin\DefaultRenderer" />
    </type>

    <virtualType name="SetuBridge\Personalization\Model\ResourceModel\SaveCustomerProduct\SaveCustomerProduct\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">personalization_save_customer_product</argument>
            <argument name="resourceModel" xsi:type="string">SetuBridge\Personalization\Model\ResourceModel\SaveCustomerProduct</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="personalization_template_data_source" xsi:type="string">SetuBridge\Personalization\Model\ResourceModel\SaveCustomerProduct\SaveCustomerProduct\Collection</item>
            </argument>
        </arguments>
    </type>

</config>
