<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<ordercommunication>
			<general_options>
				<enable>1</enable>
				<freshdeskdomain>risecommerce</freshdeskdomain>
				<freshdeskapikey>u24rtSassdd5645</freshdeskapikey>
				<!-- <allowedextensions>jpeg,png,gif,pdf</allowedextensions> -->
			</general_options>
		</ordercommunication>
	</default>
</config>
